.chart-content {
  height: 400px;
  width: 650px;
  background: linear-gradient(110.83deg, #23282e -2.21%, #2a3139 104.21%);
  border-radius: 29px;
  padding: 20px;
  margin-right: 20px;
}

.chart-title {
  color: white;
  margin-left: 50px;
}
