.card {
  width: 250px;
  height: 250px;
  background: linear-gradient(140.61deg, #23282e 2.48%, #252c35 125.65%);
  border-radius: 24.6753px;
  color: #ffffff;
  padding-left: 10px;
  .card-body {
    font-size: 30px;
  }
}
